<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
   <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/table.css" />
  <link rel="stylesheet" href="css/font.css" />
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="/css/menuDeroulant.css" />
  <link rel="stylesheet" href="css/custom.css" />
  <link rel="stylesheet" href="css/logIn.css" />
  <link rel="stylesheet" href="css/signIn.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/js/all.min.js"></script>
  <script src="/js/ajax.js"></script>
  <link rel="shortcut icon" href="images/logo.ico" />
 </head>
 
 <body>

   <header>
     <img src="/images/logo.png" alt="logoPylos" title="logoPylos" id="logo">
     <h1>
       Pylos
     </h1>
    <ul id="menu">
      <li><a href="/index">Home</a></li>
      <li><a href="#" >New Game</a>
      <ul>
          <li><a href='/playVsIA'>VS AI</a></li>
          <li><a href='/play'>2 players locally</a></li>
          <li><a href='/customPart'> Play online </a></li>
          <li><a href='/scenario'> Take a rest ? </a></li>
        </ul>
      </li>
      <li id="activateSound"><a href="#" onclick="activateSound()"><i class="fas fa-volume-mute"></i></a></li>
      <li id="desactivedSound" style="display:none"><a href="#" onclick="desactivedSound()"><i class="fas fa-volume-up"></i></a></li>
      <li><a href="#"></a></li>
    </ul>

    {{# if user}}
      <ul id="connexion">
        <li><a href="#" id="pseudo" value="{{user.pseudo}}">{{user.pseudo}}</a></li>
        <li id="logout"><a href=#>Sign off</a></li>
        <script src="/js/logOut.js"></script>
      </ul>
    {{ else }}
      <ul id="connexion">
        <li><a href="/logIn">Sign in</a></li>
        <li><a href="/signIn">Sign up</a></li>
      </ul>
    {{/if}}

   </header>

   {{{ body }}}

   <footer>

   </footer>



 </body>
</html>
