<!DOCTYPE html>
<html>
  <head>
    
  <%- include('../partials/head') -%>
    <link rel="stylesheet" href="../css/projet.css">
  </head>
  <body>
    
    <%- include('partials/nav') -%>

    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
    

    <div class="well">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Email</th>
              <th>Username</th>
              <th style="width: 36px;"></th>
            </tr>
          </thead>
          <tbody>
            <% let count = 1; for(index in users) { %>
            <tr>
              <td>
                <%= count; %>
              </td>
              <td>
                <%= users[index].email_id; %>
              </td>
              <td>
                <%= users[index].username; %>
              </td>
            </tr>
              <% count ++; } %>
            <tbody>
          </tbody>
        </table>
    </div>
    
  <%- include('../partials/footer') -%>
</body>
</html>
































<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="page">
      <!-- Main Navbar-->
      <header class="header">
        <nav class="navbar">
          <!-- Search Box-->
          <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
              <input type="search" placeholder="What are you looking for..." class="form-control">
            </form>
          </div>
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                  <div class="brand-text d-none d-lg-inline-block"><span>LMS </span><strong>Dashboard</strong></div>
                  <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>
                <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
    
           
           
                <!-- Logout    -->
                <li class="nav-item"><a href="login.html" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center"><a href="pages-profile.html">
              <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div></a>
            <div class="title">
              <h1 class="h4">Admin</h1>
              <p>user</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            <li><a href="/users"> <i class="icon-home"></i>Home </a></li>
          </ul>
        </nav>
        
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
              <div class="container-fluid">
              <div class="row">
              <div class="col-lg-6">  
                <h2 class="no-margin-bottom">Welcome To System </h2>
              </div>
            
              </div>
              </div>
            </header>
    
  
  <!-- Tabs -->
  <section id="tabs" class="updates no-padding-bottom">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 ">
              
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <!-- User modal end -->
                      <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                              <div class="daily-feeds card"> 
                          
                      <div class="card-header">
                  
                                  <br>
                     <!-- <button type="button" data-toggle="modal" data-target="#employeeModal" class="btn btn-success btn-sm ">Add User</button> -->
                      <!-- <button type="button" class="btn btn-warning btn-sm " data-toggle="collapse" data-target="#filter-panel">
                                          <span class="glyphicon glyphicon-cog"></span> Import
                                      </button> -->
                      </div>
  
                      <div class="card-body no-padding">
               
                      <div class="table-responsive">
                      <table id="datatable1"  class="table" style="width: 100% !important;">
                        <thead>
                          <tr>
                            <th>Sr#</th>
                            <th>Email ID</th>
                            <th>Username</th>
                            <!-- <th>Action</th> -->
                            
                          </tr>
                        </thead>

                         
                        </tbody>
                      </table>
                    </div>
                        <!-- Item-->
                      </div>
  
  
                    </div>
                      </div>
                                            <!--Add Employee  Modal-->
                        <div id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                          <div role="document" class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 id="exampleModalLabel" class="modal-title">Users Detail</h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                              </div>
                              <form action="/add_users" method="POST">
                              <div class="modal-body">
                                <div class="form-group">
                                    <label>Reg ID</label>
                                    <input type="number" name="emp_id"  id="employee_id" value="" class="form-control" placeholder="Employee ID" required="" data-msg="Please enter a valid Employee ID">
                                    <div id="error"></div>
                                  </div>
                                  <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="name" value="" class="form-control" placeholder="Employee Name" required="" data-msg="Please enter a valid Name">
                                    
                                   </div>
                                  <div class="form-group">       
                                    <label>Email ID</label>
                                    <input type="email" placeholder="Email Id" name="email_id" class="form-control" required="" data-msg="Please enter a valid email">
                                  </div>
                                   <div class="form-group">       
                                    <label>Phone No</label>
                                    <input type="number" placeholder="Phone No" name="phone_no" class="form-control" required="" data-msg="Please enter a valid Phone no">
                                  </div>
                                  <div class="form-group">       
                                    <label>Username</label>
                                    <input type="text" placeholder="Username" name="username" class="form-control" required="" data-msg="Please enter a valid Phone no">
                                  </div>
                                  <div class="form-group">       
                                    <label>Password</label>
                                    <input type="password" placeholder="Password" name="password" class="form-control" required="" data-msg="Please enter a valid Phone no">
                                  </div>
                                   <div class="form-group">
                                    <input type="radio" name="user_type" onclick="SelectUsers(this.value)" value="2" class="radio-template" id="prof" checked><label>Professor</label>
                                    <input type="radio" name="user_type" onclick="SelectUsers(this.value)" value="3" class="radio-template" id="others"><label>Student</label>
                                 
                                  </div>
                                   <div class="form-group" id="stud" style="display: none;">
                                    <label>Class</label>
                                    <select class="form-control" name="std_class" data-msg="Please Select">
                                      <option value="">Select Class</option>
                                      <option value="1">Class 1</option>
                                      <option value="2">Class 2</option>
                                      <option value="3">Class 3</option>
                                      <option value="4">Class 4</option>
                                      <option value="5">Class 5</option>
                                      <option value="6">Class 6</option>
                                      <option value="7">Class 7</option>
                                      <option value="8">Class 8</option>
                                      <option value="9">Class 9</option>
                                      <option value="10">Class 10</option>
                                      
                                    </select>
                                  </div>
                                
                              </div>
                              <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                <input type="submit" class="btn btn-primary" value="Save" name="save">
                              </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <!-- Employee Modal End -->
  
                                              <!--Edit Employee  Modal-->
                        <div id="employee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                          <div role="document" class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 id="exampleModalLabel" class="modal-title">Update User Detail</h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                              </div>
                               <form action="/edit_employee" method="post" class="form-validate">
                              <div class="modal-body" id="modal_body">
                                
                                
                              </div>
                              <div class="modal-footer">
                                <!-- <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button> -->
                                <input value="Save Changes" type="submit" class="btn btn-primary" name="save">
                              </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <!-- Employee Modal End -->
                  </div>
              
              </div>
          </div>
      </div>
  </section>
  </div>

  </div>
</div>
            
                          <!-- MCQs modal end -->
    <!-- Page Footer
    <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>Your company &copy; 2017-2019</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Version 1.4.5</p>
            </div>
          </div>
        </div>
      </footer> -->
<!-- JavaScript files-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="/js/charts-home.js"></script>
<!-- Notifications-->
<script src="/vendor/messenger-hubspot/build/js/messenger.min.js">   </script>
<script src="/vendor/messenger-hubspot/build/js/messenger-theme-flat.js">       </script>
<script src="/js/home-premium.js"> </script>
<!-- Main File-->
<script src="/js/front.js"></script>

<script type="text/javascript">

    function SelectUsers(id){
  // alert(id)
  if(id==3){
    // alert("inside ptcl");
    $('#stud').show();
  }else{
    $('#stud').hide();
  }
  
  }


  

 
  </script>
  
</body>
</html>

